# Root .gitignore

# Node dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/cache/
frontend/.yarn/unplugged/
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.pnp.js

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
frontend/.env*
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/section_status.json
# backend/config.php (Ignored if you have sensitive data, but included for sample purposes)

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
frontend/next-env.d.ts
